*{
padding:0;
margin:0;
}
div{ border:1px solid #00FF66;}

div.content{	
width:auto;
height:800px;
background-color:#000;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
}

div.Basketball-court{
width:1500px;
height:inherit;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
background-color:#FF0;
}

div.bazikon{
width:150px;
height:150px;
float:left;
margin:2px;
position:relative;
background:#F60;
text-align:center;
font-size:x-large;
color:#FFF;
}

div#bazikon1{
margin-top:100px;
margin-left:100px;
}

div#bazikon2{
margin-top:100px;
margin-left:0px;
}

div#bazikon3{
margin-top:100px;
margin-left:500px;
}

div#bazikon4{
margin-top:100px;
margin-left:0;
}


div#bazikon5{
margin-top:500px;
margin-left:-1280px;
}

div#bazikon6{
margin-top:248px;
margin-left:0;
}

div#top1{
margin-top:100px;
margin-left:0;
}

div#top2{
margin-top:248px;
margin-left:0;
}

div#top3{
margin-top:248px;
margin-left:680px;
}
















