div{
	border:0px solid #FFF;
}
div.content{
	width:auto;
	height:900px;
	background-color:#000;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
div.content div{
margin:2px;
}
div.top-left{
width:100px;
height:100px;
background-color:#C00;
float:left;
position:relative;
top:150px;
left:100px;
}
div.top-rigth{
width:100px;
height:100px;
background-color:#C00;
float:right;
position:relative;
top:150px;
right:100px;
}
div.bottom-left{
width:100px;
height:100px;
background-color:#0C6;
float:left;
position:relative;
top:700px;
left:-320px;

}
div.bottom-rigth{
width:100px;
height:100px;
background-color:#0C6;
position:relative;
float:left;
top:700px;
right:-1200px;
}
div#top{
	width:200px;
	height:200px;
	background:url(pic/download.jpg);
}